{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}
<a href="work-list" class="govuk-back-link">Back</a>

<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    Ralph Waters

  </h1>

  <table class="govuk-table" border="0">
    <tr class="govuk-table__row">
        <td width="39%" class="govuk-table__cell"><span class="govuk-body govuk-!-font-weight-bold">National Insurance number: </span>QQ123456C</td>
        <td width="10%" class="govuk-table__cell"><span class="govuk-body govuk-!-font-weight-bold">Age: </span>29</td>
        <td width="28%" class="govuk-table__cell"><span class="govuk-body govuk-!-font-weight-bold">Daily living award: </span>Enhanced</td>
        <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-weight-bold">Mobility award: </span>Enhanced</td>
      </tr>
  </table>


<h3 class="govuk-heading-m">Previous scores</h3>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="bold-xxlarge">84</span>
          <span class="data-item bold-xsmall">Daily living score</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="bold-xxlarge">24</span>
          <span class="data-item bold-xsmall">Mobility score</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="bold-xxlarge">5 years</span>
          <span class="data-item bold-xsmall">Award length</span>
        </div>
  </div>

  <p class="govuk-body govuk-!-margin-top-8"></p>


  <h3 class="govuk-heading-m">Predicted decision</h3>

  <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="bold-xxlarge">84</span>
            <span class="data-item bold-xsmall">Predicted daily living score</span>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="bold-xxlarge">24</span>
            <span class="data-item bold-xsmall">Predicted mobility score</span>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="bold-xxlarge">2 years</span>
            <span class="data-item bold-xsmall">Predicted award length</span>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="bold-xxlarge">100%</span>
            <span class="data-item bold-xsmall">Decision accuracy</span>
          </div>

    </div>


  <p class="govuk-body govuk-!-margin-top-8"></p>



<h2 class="govuk-heading-m">Suggested automated decision:</h2>
<strong class="app-c-tag app-c-tag--success">EXTEND</strong>
<hr>




<h2 class="govuk-heading-l">Prediction reason</h2>
<p class="govuk-body">The need for an aid or appliance to be able to prepare food is likely to have increased due to a likely worsening of artritis symptoms.</p>
<p class="govuk-body">Ability to move more than 1 metre but no more than 20 metres has likely got worse, due to a likely worsening of arthritis symptoms.</p>
<p class="govuk-body">The need for an aid for dressing and undressing has likely to have increased due to a likely worsening of arthritis symptoms.</p>

<p class="govuk-body govuk-!-margin-top-8"></p>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
        Medication
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Specialist input
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Treatments
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Surgery
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Medication</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Drug</th>
          <th class="govuk-table__header" scope="col">Dosage</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Diazepam</td>
          <td class="govuk-table__cell">2mg per day</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Salbutamol</td>
          <td class="govuk-table__cell">4mg 3–4 times a day</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Tapentadol</td>
          <td class="govuk-table__cell">5mg per day</td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Specialist input</h2>
<p class="govuk-body">Claimant attends a pain clinic once a week.</p>
      </tbody>
    </table>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Treatments</h2>
<p class="govuk-body">Claimant completed a 6 week Chemotherapy course on the 14th March 2018.</p>
<p class="govuk-body">Awaiting physiotherapy treatment for artritis.</p>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Surgery</h2>
    <p class="govuk-body">Claimant underwent keyhole shoulder surgery on 15 December 2016.</p>

<p class="govuk-body">Claimant is currently awaiting a hip replacement.</p>

  </section>
</div>




<a href="check-your-answers-page"><button type="submit" class="govuk-button" align="bottom">Extend award</button></a>
<p><a class="govuk-link" href="reject" align="top">Refer for assessment</a></p>

{% endblock %}
