{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}
<a href="work-list" class="govuk-back-link">Back</a>

<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant’s details</span>
    Ralph Waters
  </h1>

  <table class="govuk-table" border="0">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <td width="25%" class="govuk-table__cell"><span class="govuk-body govuk-!-font-weight-bold">Customer ID: </span>JC 1234</td>
        <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-weight-bold">Award length: </span>2 years</td>
        <td width="18%" class="govuk-table__cell"><button type="submit" class="govuk-button">Accept renewal</button></td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"><button type="submit" class="govuk-button">Reject renewal</button></td>
      </tr>
    </thead>
    </tbody>
  </table>

<h3 class="govuk-heading-m">Prior scores</h3>

<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="bold-xxlarge">27</span>
          <span class="data-item bold-xsmall">prior daily living score</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="bold-xxlarge">27</span>
          <span class="data-item bold-xsmall">prior mobility score</span>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <span class="bold-xxlarge">2 years</span>
          <span class="data-item bold-xsmall">prior award length</span>
        </div>
  </div>

<p></p><p></p><p></p>

  <h3 class="govuk-heading-m">Predicted scores</h3>

  <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="bold-xxlarge">27</span>
            <span class="data-item bold-xsmall">prior daily living score</span>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="bold-xxlarge">27</span>
            <span class="data-item bold-xsmall">prior mobility score</span>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <span class="bold-xxlarge">2 years</span>
            <span class="data-item bold-xsmall">prior award length</span>
          </div>
    </div>


<hr>



{% endblock %}
