{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h2 class="govuk-panel__title">Complete</h2>
        <div class="govuk-panel__body">
        </div>
      </div>

      <p>
        A copy of the AR1 form will automatically be sent to this claimant.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You will need to update any relevant details for this claimant in PIPCS.</p>

      <a href="details" class="govuk-link">Enter another claimants details</a>

    </div>
  </div>

{% endblock %}
