{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}
<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header govuk-table__header" scope="col">National Insurance number</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Suggested automated decision</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="claimant-info" class="govuk-link govuk-link--no-visited-state">Ralph Waters</a></th>
      <td class="govuk-table__cell govuk-table__cell">QQ123456C</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle teal"></span>Extend</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="claimant-info-sarah" class="govuk-link govuk-link--no-visited-state">Sarah Hield</a></th>
      <td class="govuk-table__cell govuk-table__cell">NN123456C</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle teal"></span>Extend</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="claimant-info-refer" class="govuk-link govuk-link--no-visited-state">John Harrison</a></th>
      <td class="govuk-table__cell govuk-table__cell">AA123456C</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle red"></span>Refer for assessment</td>
    </tr>
  </tbody>
</table>



{% endblock %}
